.emp-list{
    display: flex;
    justify-content: center;
}

.add-button{
    display: flex;
    justify-content: flex-end;
}

.actions {
    display: flex;
    justify-content: space-between;
}